{% extends "layout.html" %}

{% block title %}
    Welcome to slack!
{% endblock %}

{% block index_js %}
<script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

<!--This is the body block-->
{% block body %}

<h1>You have now logged in the {{thread_name}}</h1>

<!--Chat area-->
<div class="chat overflow-auto mb-5">
  <div id="disclaimertoentermessage">
    <h3>Please feel free to start the chat</h3>
  </div>


</div>



<!--This will be the chat-->
<!--TO DO -- ADD ACTION TO STAY ON THE SAME PAGE-->
<div class="input-group mb-2 fixed-bottom">
  <input type="text" class="form-control" id ="input" placeholder="Type your message here" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button id="send" type="button" class="btn btn-secondary" style="height: 40px;">Send</button>
  </div>
</div>


</div>
{% endblock %}
